{% load static %}
{% load shared_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" type="image/png" href="{% hashed_static 'images/favicon.png' %}">

  <link rel="stylesheet" href="{% hashed_static 'bulma/css/bulma.min.css' %}">
  <link rel="stylesheet" href="{% hashed_static '@fortawesome/fontawesome-free/css/all.min.css' %}">

  <link rel="stylesheet" href="{% hashed_static 'css/base.css' %}">

  <title>{% block title %}peq.es{% endblock %}</title>
</head>

<body>

  {% include "includes/header.html" %}
  {% block main %}{% endblock %}
  {% include "includes/footer.html" %}

  <script type="text/javascript" src="{% hashed_static 'htmx.org/dist/htmx.min.js' %}"></script>

  <script type="text/javascript" src="{% hashed_static 'js/base.js' %}"></script>

</body>

</html>
