article.message {
  display: none;
  position: fixed;
  bottom: 80px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
}

html,
body {
  height: 100%; /* Asegura que el body ocupe toda la altura de la ventana */
  margin: 0; /* Elimina el margen por defecto */
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
}

.footer {
  margin-top: auto; /* Empuja el footer hacia abajo */
  padding: 50px 0; /* Ajusta el espaciado */
  text-align: center; /* Alinea el texto al centro */
}
